<div id="wrapper-foot">
  <div class="container"> 
    <div class="row-fluid">
      <div class="span2 responsive-inline">
        <div class="col-foot">
          <h4>Navegación</h4>
          <li>
            <a href="/" >Inicio</a>
	  </li>
	  <li>
            <a href="{{ "/quienes-somos" | prepend: site.baseurl }}" >Quiénes Somos</a>
	  </li>
	  <li>
            <a href="{{ "/productos" | prepend: site.baseurl }}" >Productos</a>
	  </li>
	  <li>
            <a href="{{ "/zapatos-a-pedido" | prepend: site.baseurl }}" >Zapatos a Pedido</a>
	  </li>
	  <li>
            <a href="{{ "/como-comprar" | prepend: site.baseurl }}" >Cómo Comprar</a>
	  </li>
	  <li>
            <a href="/contacto/" >Contacto</a>
	  </li>
        </div>
      </div>
      <div class="span2 responsive-inline">
        <div class="col-foot">
          <h4>Redes Sociales</h4>
          <a href="https://www.facebook.com/Viridian-537546793103910" target="_blank" ><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/viridianshoes" target="_blank" ><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="span5">
        <div class="col-foot contact-data">
          <h4>Contactanos</h4>
          <li><i class="fa fa-phone"></i>155.161.6458</li>
          <li><i class="fa fa-envelope"></i><a href="mailto:lamorazapatos@gmail.com">lamorazapatos@gmail.com</a></li>
          <li><i class="fa fa-map-marker"></i>Rodriguez Peña 671 2 piso dpto 6  (con cita previa)</li>
        </div>
      </div>
    </div>  
    
  </div>
</div> 
