<nav class="pushy pushy-left">
  <span class="close-pushy"><i class="fa fa-times menu-btn"></i></span>
  <ul>
    <li class="selected">
      <a href="/" >
        Inicio</a>
    </li>
    <li class="">
      <a href="https://lbellomo.github.io/viridian/quienes-somos/" >
        Quiénes Somos</a>
    </li>
    <div class="subitems">
      <li class=" mobile-subitems-container">
        <a href="https://lbellomo.github.io/viridian/productos/" >
          Productos
        </a>
      <li class="mobile-dropdown"><i class="fa fa-chevron-down"></i></li> 
      <ul id="accordion">
        <li class="">
          <a href="https://lbellomo.github.io/viridian/sale/" >
            SALE!</a>
        </li>
        <div class="subitems">
          <li class=" mobile-subitems-container">
            <a href="https://lbellomo.github.io/viridian/chatitas/" >
              Chatitas
            </a>
          <li class="mobile-dropdown"><i class="fa fa-chevron-down"></i></li> 
          <ul id="accordion">
            <li class="">
	      <a href="https://lbellomo.github.io/viridian/chatitas/sandalias/" >
                Sandalias</a>
	    </li>
            <li class="">
	      <a href="https://lbellomo.github.io/viridian/chatitas/mocasines/" >
                Mocasines</a>
	    </li>
            <li class="">
	      <a href="https://lbellomo.github.io/viridian/chatitas/zapatillas/" >
                Zapatillas</a>
	    </li>
            <li class="">
	      <a href="https://lbellomo.github.io/viridian/chatitas/acordonados/" >
                Acordonados</a>
	    </li>
            <li class="">
	      <a href="https://lbellomo.github.io/viridian/chatitas/botas/" >
                Botas</a>
	    </li>
          </ul>
          </li>
        </div>
        <li class="">
          <a href="https://lbellomo.github.io/viridian/taco-medio/" >
            Taco medio</a>
        </li>
        <li class="">
          <a href="https://lbellomo.github.io/viridian/taco-alto/" >
            Taco alto</a>
        </li>
        <li class="">
          <a href="https://lbellomo.github.io/viridian/mini-mora/" >
            Mini-Mora</a>
        </li>
      </ul>
      </li>
    </div>
    <li class="">
      <a href="https://lbellomo.github.io/viridian/zapatos-a-pedido/" >
        Zapatos a Pedido</a>
    </li>
    <li class="">
      <a href="https://lbellomo.github.io/viridian/como-comprar/" >
        Cómo Comprar</a>
    </li>
    <li class="">
      <a href="https://lbellomo.github.io/viridian/preguntas-frecuentes/" >
        Preguntas Frecuentes</a>
    </li>
    <li class="">
      <a href="/contacto/" >
        Contacto</a>
    </li>
  </ul>
</nav>
