<script>LS.socialScripts.push('//platform.twitter.com/widgets.js')</script>
<script>
  window.fbAsyncInit = function() {
  FB.init({
  appId      : '107147892676939',
  xfbml      : true,
  version    : 'v2.4',
  cookie     : true
  });
  
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4&appId=107147892676939";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  window.___gcfg = {'lang' : 'es-419'};
  LS.socialScripts.push('https://apis.google.com/js/plusone.js')
</script>
<script>LS.socialScripts.push('//assets.pinterest.com/js/pinit.js')</script>
